@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");

body {
  background: #ccc;
  font-family: "Raleway", sans-serif;
}

.dropdown:first-child {
  margin-left: -7.8px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.delete-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 10% auto;
  width: 40%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-header {
  background: #333;
  padding: 15px;
  color: white;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.closeBtn {
  color: rgb(255, 254, 254);
  float: right;
  font-size: 30px;
  cursor: pointer;
}

.login-form-message{
  display: none;
  animation-name: modalopen;
  animation-duration: 0.5s;
}

.material-icons{font-size: 1.7rem;}
.navbar-brand{font-size: 1.6rem;}

.sign-up-form {
  padding: 20px 300px 40px 300px;
}

main a{
  text-decoration: none;
  color: #333;
}
main a:hover {
  color: rgb(0, 108, 209);
}

.post-card-img {
  height: 330px;
  width: 100%;
  object-fit: cover;  
}
.author-post-avatar {
  border-radius: 90%;
  width: 60px;
  height: 60px;
  object-fit: cover; 

}
.post-card-content {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.edit-profile-avatar{
  height: 113px;
  width: 113px;
  object-fit: cover; 
}
.profile-avatar{
  border-radius: 90%;
  width: 180px;
  height: 180px;
  object-fit: cover; 
}
.profile-post-img {
  width: 250px;
  height: 300px;
  object-fit: cover; 
}

.post-detail-icons{
  vertical-align: middle;
}
.sidbar-posts{
  height: 80px;
  width: 80px;
  object-fit: cover; 
}
.hero{
  object-fit: cover; 
  height: 100%;
  width: 100%;
}

.container-img{
  position: relative;
  opacity: 0.85;
  height: 100%;
}

.title {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: rgb(255, 255, 255);
}
