{% extends 'base.html' %}

{% block content %}
<main>
    <!-- sidebar -->
    <div class="row">
        <div class="col-md-4 rounded">
            <li class="list-group-item text-light text-center text-capitalize"><b class="text-dark">Welcome to flask-blog</b></li>
            <li class="list-group-item"><a href="#"></a>
                <h4>Top posts:</h4>
                {% for post in posts %}
                <img style="height: 80px; width: 80px;" class="mt-2 rounded" src="{{ url_for('static', filename=post.image)}}" alt="">
                {{post.title}} <br>
                {% endfor %}
            </li>
        </div>
        <!-- post card -->
        <div class="col-md-8 ms-">
            {% for post in posts %}
            <div class="border bg-light rounded p-3 mb-4" style="overflow-wrap: break-word;">
                <div class="row">
                    <div class="col-md-1">
                        <!-- author avatar -->
                        <a href="{{ url_for('profile', username=post.author.username) }}">
                            <img class="author-post-avatar" src="{{ url_for('static', filename=post.author.profile.avatar)}}" alt="">
                        </a>
                    </div>
                    <div class="col-md-11 mt-1">
                        <!-- save btn -->
                        <a href=""><i style="float: right;" class="material-icons mt-1">&#xe867;</i></a>
                        <!-- author username -->
                        <a href="{{ url_for('profile', username=post.author.username) }}">{{ post.author.username }} <br></a>
                        <!-- published date -->
                        <p class="text-muted">12 minutes ago</p>
                    </div>
                </div>
                <!-- post title -->
                <h2 class="mt-3 mb-4">
                    <a class="text-primary" href="{{ url_for('post_detail', title=post.title) }}">
                        {{ post.title }}
                    </a>
                </h2>
                <!-- post image -->
                <img class="post-card-img rounded" src="{{ url_for('static', filename=post.image)}}" alt="">
                <!-- like btn -->
                <a href="#"><i style="float: right;" class="material-icons mt-4">&#xe87e;</i></a>
                <!-- read more btn -->
                <a class="btn btn-primary mt-3" href="{{ url_for('post_detail', title=post.title) }}">
                    Read More
                </a> 
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
</main> 
{% endblock %}